<html>
<head>
    <title>Vue.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </meta>
</head>

<body>
    <main>
        <form>
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                    <label>Tema principal</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" v-model="selectPadre">
                        <option v-for="item in elementosPadres" :key="item.index" :value="item.index">{{item.titulo}}</option>
                    </select>
                </div>

                <div class="col-auto my-1">
                    <label>SubTema</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect1" v-model="selectHijo">
                        <option v-for="item in elementosHijo" :key="item.index" :value="item.index">{{item.titulo}}</option>
                    </select>
                </div>
            </div>
        </form>
    </main>
</body>
<script src="../vue.js"></script>
<script src="main.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</html>